div{
    margin: 20px;
    width: 700px;
    border-radius: 100px;
    border: 10px;
    border-color: black;
    background-color: white;
    font-size: smaller;
}
.mat-cell{
    font-size: smaller;
    padding:0px;
    height: 10px;
    border-radius: 5px;
}
.mat-column{
    height: 20px ;
}
mat-row.mat-row.ng-star-inserted 
{ height: 32px !important; } 

.mat-row{ min-height: 30px; border-radius: 5px; }
.mat-table{
    width: 700px;
    padding: 0px;
}
.mat-row:nth-child(even){
    background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
    background-color:#ffffff;
}
.mat-row:hover {
    background-color: #50C878;
    font-size: 20px;
  }
